/* Creación de tarjetas de items */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


  .it-itemCard-conteiner{
    position: relative;
    width: 22%;
    height: 320px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
  }

  .it-itemCard-infoManufactur{
    position: relative;
    margin-left: 2%;
    font-weight: 600;
    font-size: 3vh;
    color: black;
  }
  
  .it-itemCard-infoName{
    position: relative;
    margin-left: 2%;
    font-weight: 250;
    font-size: 2.5vh;
    color: black;
  }

  .it-itemCard-infoDiscount{
    position: static;
    font-size: 2.3vh;
  }

  .it-itemCard-infoPrice{
    position: relative;
    font-weight: 300;
    font-size: 2.3vh;
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 1px;
  }

  .it-itemCard-infoPrice-regular{
    position: relative;
    font-weight: 300;
    font-size: 2.3vh;
    margin-left: 2%;
    margin-bottom: 1px;
  }
  
  .it-itemCard-img {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 43px;
    z-index: 1;
  } 

  .it-itemCard-img:hover {
    cursor: pointer;
  }

  .it-itemCard-conteiner p{
    font-family: "Outfit", sans-serif;
  }