.crudbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgb(195, 197, 218), #e9eff023);
}

.titlecontainer{
    justify-content: center;
    text-align: center;
    padding-top: 1em ;
}

.menu{
    padding-top: 2em;
    text-align: center;
}

.crudbtn{
    padding: 2px;
    margin: 2px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: auto;
    font-size: 1em;
    cursor: pointer;
}

.crudbtn:hover{
    background-color: #cecece;
    transition: 0.3s;
}